.img-banner{
    background: rgba(0, 0, 0, .6) url(../../../images/banner.png); 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 220px 0;
    background-blend-mode: darken;
}

.title{
    font-size: 70px;
    font-weight: 900;
}

@media only screen and (max-width: 768px) {
    .title{
        font-size: 40px;
    }
    };
    